<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-8 mx-auto box rounded-5">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 font-weight-bold fs-5 text-uppercase">
              {{ title }}
              <hr/>
            </h5>
            <!-- -----------------------------------------------MAIN CODE----------------------------------------------------------                         -->
            <form>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control transparent-input"
                           name="taskName" placeholder="Enter the task...."
                           [(ngModel)]="taskObj.taskName"/>
                  </div>
                </div>
                <div class="col-sm">
                  <input type="date" class="form-floating btn-bisque" placeholder="Due Date" name="dueDate"
                         [(ngModel)]="taskObj.dueDate"
                         min="{{ minDate | date : 'yyyy-MM-dd' }}"
                         (change)="validateDate()"/>
                </div>
                <div class="col-sm">
                  <div class="form-floating mb-3">
                    <button class="btn btn-bisque" (click)="createTask()" [disabled]="!isDateValid">
                      + Task
                    </button>
                  </div>
                </div>

                <div class="col-sm">
                  <div class="form-floating">
                    <button class="btn btn-bisque" (click)="clearTask()">
                      Clear All
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!-- ------------------------------------------------------------------------------------------------------------------                         -->
            <!-- ------------------------------------------EXCEPTION CASE------------------------------------------------------ -->
            <div *ngIf="noTasksFound">
              <h6 class="mt-2 text-center clr">
                No Task Found...
              </h6>
            </div>
            <!-- --------------------------------------------------------------------------------------------------------------- -->
            <div class="row pt-3">
              <div class="col-12">
                <table class="table table-bordered table-striped table-sm clr"
                       *ngIf="taskList.length > 0">
                  <thead>
                  <tr>
                    <th><strong>Index</strong></th>
                    <th><strong>Task Name</strong></th>
                    <th><strong>Due Date</strong></th>
                    <th class="text-center">
                      <strong>Tags</strong>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let task of taskList; let i = index">
                    <td style="text-align: center">
                      {{ i + 1 }}
                    </td>
                    <td *ngIf="!editMode; else editModeTemplate" class="text-center">
                      <div class="row">
                        <div class="col-1">
                          <input (change)="onComplete()" [(ngModel)]="task.isCompleted"
                                 type="checkbox" id="isCompleted"/>
                        </div>
                        <div class="col-6">
                          {{ task.taskName }}
                        </div>
                      </div>
                    </td>

                    <td>{{ task.dueDate }}</td>
                    <td class="text-center">
                      <button
                        class="btn btn-warning btn-sm rounded rounded-sm mr-2"
                        (click)="onEdit(i)">
                        Edit
                      </button>

                      <button
                        class="btn btn-danger btn-sm rounded rounded-sm mr-2"
                        (click)="onDelete(i)">
                        remove
                      </button>

                    </td>

                    <ng-template #editModeTemplate>
                      <input type="text" class="transparent-input "
                             [(ngModel)]="editedValue"/>

                      <button class="btn btn-success btn-sm rounded rounded-sm"
                              (click)="onSave()">
                        Save
                      </button>

                      <button class="btn btn-primary btn-sm rounded rounded-sm"
                              (click)="onExit()">
                        Cancel
                      </button>
                    </ng-template>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
